@import 'styles/globals.module.scss';

.primary,
.secondary,
.primaryBig,
.secondaryBig,
.secondaryLarge,
.primaryLarge,
.primaryDisabled {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

.primaryBig,
.secondaryBig {
  width: 259px;
}

.primary,
.primaryBig,
.primaryLarge {
  background-color: #fad247;
  color: black;
}

.primaryDisabled {
  background-color: #bb9d35;
  cursor: default;

  &:hover {
    cursor: not-allowed;
  }
}

.secondaryLarge {
  width: 323px;
}

.primaryLarge {
  width: 337px;
}

.primary,
.primaryDisabled,
.secondary {
  min-width: 232px;
  padding: 0 30px;
}

.secondary,
.secondaryBig,
.secondaryLarge {
  border: 1px solid #fad247;
  color: white;
}

.primary:hover,
.primaryBig:hover,
.secondary:hover,
.secondaryBig:hover,
.secondaryLarge:hover,
.primaryLarge:hover {
  background-color: #fbdd6f;
  color: black;
  text-emphasis-color: black;
}

.primary,
.primaryLarge,
.primaryDisabled {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}

.primaryBig {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.secondary,
.secondaryBig,
.secondaryLarge {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}

.primaryDisabled {
  color: rgba(0, 0, 0, 0.5);
}

.tooltip {
  position: relative;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 250px;
  bottom: 125%;
  left: 50%;
  margin-left: calc(-250px / 2);
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 400;

  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

@media screen and (max-width: calc($grid-width + 60px)) {

  .primaryBig,
  .secondaryBig {
    width: 100%;
  }

}

@media screen and (max-width: $tablet-breakpoint-width) {

  .primary,
  .secondary,
  .primaryDisabled {
    width: 100%;
  }

}