@import 'styles/globals.module.scss';

.title {
  grid-column: span 12;
}

.contactTeam {
  grid-column: span 12;
  margin-top: 61px;
}

@media screen and (max-width: $mobile-breakpoint-width) {
  .contactTeam {
    margin-top: 50px;
  }
}