.lottie {
  mix-blend-mode: color-burn;
}

.container {
  position: absolute;
  top: 100px;
  right: -100px;
}

.gradient {
  margin-top: 7.5rem;
  margin-left: 6.2rem;
  height: 640px;
  width: 640px;
  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgb(235, 235, 235) 0%,
    rgba(138, 138, 138, 1) 28%,
    rgba(0, 0, 0, 1) 75%
  );

  position: absolute;
}
