@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

.container {
  height: 110px;
  margin: 0 auto auto auto;

  max-width: 1140px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  position: static;
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  position: static;
}

.logoContainer {
  width: 100%;
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 14px;
}

.logo {
  grid-column-start: 1;

  &:hover {
    cursor: pointer;
  }
}

.menuIcon {
  // ikonka hamburger jest nierowno TODO:
  // margin-right: 5px;
  // padding: 20px;
}

.navList {
  grid-column-start: 3;
  
  display: grid;
  width: 696px;
  grid-template-columns: 208px 280px 208px;
}

.nav {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 240px 204px 696px;
  height: 100%;
}

.contact {
}

.navListItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & a:hover {
    color: #fad247;
  }
}

.activeNavListItem {
  border-bottom: 3px solid #fad247;
}

// 1140 px is the grid width + 30 px each side for a nice visual margin for transition 
// between mobile and desktop views
@media screen and (max-width: 1200px) {
  .container {
    height: auto;
    max-width: 100%;
    position: sticky;
    z-index: 100;
  }
  
  .logo {
    height: 90px;
  }

  .nav {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;

    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));

    .menuIcon {
      filter: brightness(0) invert(1);
    }

    .navActive {
      color: black;
      background-color: white;

      .menuIcon {
        filter: none;
      }
    }
  }

  .navList {
    position: absolute;
    top: 100%;

    display: block;
    width: 100%;
    color: black;
    background-color: white;
  }

  .navListItem {
    width: 100%;

    height: 65px;
    justify-content: flex-start;
    
    border-top: 1px solid #E4E4E4;
  }
}
