@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  position: static;
  width: 100vw;
  height: 110px;
}

.logo {
  padding-top: 7px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.navList {
  list-style-type: none;
}

.navList .navListItem {
  display: inline-block;

  padding: 20px 3.5vw;
}

.navListItem {
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #fad247;
  // border-bottom: 3px solid #fad247;
}

.nav .current {
  border-bottom: 3px solid #fad247;
}

@media screen and (min-width: 768px) {
}
