@import 'styles/globals.module.scss';

.mapa {
  grid-column: span 12;
  margin-top: -50px;
  background-color: white;
  height: 540px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
}

.info {
  grid-column: span 12;

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;
}

.firstText {
}

.secondText {
}

.country {
}

.flag {
}

.flagContent {
  margin-left: 63px;
  display: flex;
}

.flagImg {
  height: 50px;
  width: 100px;
}

.descriptionContent {
  display: flex;
  margin-top: 30px;
}

.documentFront {
}

.documentBack {
}

.frontText {
}

.backText {
}

.box {
  height: 351px;
  width: 494px;
  background-color: #989898;
}

.content {
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textItem {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1Light {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 72px;
  color: white;
}

.h3Light {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: white;
}

.h4Light {
  margin: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: white;
}

.h4Bold {
  margin: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: black;
}

.h1Bold {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: white;
  border: none;
  padding: 0;
}
