@import 'styles/globals.module.scss';

.container {
  width: 100%;
  min-height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  color: black;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 18px 45px;
  z-index: 91;

  &.expanded {
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  }
}

.flag {
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.angle {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.titleComponent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  column-gap: 10px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

.subTitle {
  padding-top: 5px;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

.box {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px 45px;
  border-radius: 0 0 5px 5px;
  z-index: 90;
  margin-top: -1px;
}

.boxText {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.idCardsComponent {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.documentDescription {
  color: black;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: $tablet-breakpoint-width) {

  .container,
  .box,
  .container.expanded {
    border-radius: 0;
    box-shadow: none;
  }

  .box,
  .container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .box:after,
  .container:after {
    position: absolute;
    top: 0;
    left: -16px;
    height: 100%;
    width: calc(100% + 16px + 16px);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    content: " ";
    background-color: white;
    z-index: -1;
  }

}

@media screen and (max-width: $mobile-breakpoint-width) {

  .container {
    min-height: 100px;
    // padding: 18px 40px; // TODO: actually better if in grid, and not centered? 
  }

  .subTitle {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }

  .titleComponent {
    flex-wrap: wrap;
    row-gap: 0px;
  }

}