.container {
  width: 100%;
  height: 148px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;
  font-family: "Poppins";
  background-color: #ff6b6c;
  border-radius: 5px 5px 0 0;
}

.fullBorders {
  border-radius: 5px;
}

.halfBorders {
  border-radius: 5px 5px 0 0;
}

.warningIcon {
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.angle {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.angleCursor {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textComponent {
  margin-left: -50px;
  width: 753px;
}

.title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.subTitle {
  margin-top: -12px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.box {
  height: 519px;
  color: white;
  font-family: "Poppins";
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 23px 43px 23px 43px;
  border-radius: 0 0 5px 5px;
}

.boxTitle {
  color: black;
  font-weight: 700;
}

.idCards {
  margin-top: -10px;
  height: 262px;
  width: 748px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.documentDescription {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.steps {
  height: 132px;
  width: 745px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.elementContainer {
  display: flex;
}

.text {
  display: flex;
  margin-top: 2px;
  margin-left: 9px;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
