@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@275;700&display=swap");

.container {
  width: 1024px;
  max-width: 1140px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 202px 28px 35px 35px;
  column-gap: 72px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  color: white;
  font-family: "Poppins";
}

.firstPerson {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 202px;
  width: 202px;
}

.firstAlbumNumber {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}

.firstName {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
}

.secondPerson {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 202px;
  width: 202px;
}

.secondAlbumNumber {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
}

.secondName {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
}

.thirdPerson {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  height: 202px;
  width: 202px;
}

.thirdAlbumNumber {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
}

.thirdName {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
}

.fourthPerson {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 4;
  height: 202px;
  width: 202px;
}

.fourthAlbumNumber {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
}

.fourthName {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
}

.subTitle {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 3;
}

.bartek,
.wojtek,
.justyna,
.czarek {
  background-repeat: no-repeat;
  background-size: cover;
  height: 202px;
  width: 202px;
  border-radius: 50%;
}

.bartek {
  background-image: url("https://i.ibb.co/C8nGpqt/full-Robert.png");
}

.wojtek {
  background-image: url("https://i.ibb.co/xsnTjp9/rockerfeler.jpg");
}

.justyna {
  background-image: url("https://i.ibb.co/Pm9x1SP/elonMusk.jpg");
}

.czarek {
  background-image: url("https://i.ibb.co/QMRgGC2/czarro.png");
}

.albumNumber {
  background-color: #c4c4c4;
}

.names {
  background-color: #c4c4c4;
}

.h1Light {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 72px;
  color: white;
}

.h3Light {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: white;
}

.h4Light {
  // margin-left: 15px;
  // margin-top: 10px;
  margin: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  //   line-height: 36px;
  color: white;
}

.h1Bold {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: white;
  border: none;
  padding: 0;
}
