.fullscreen {
  position: relative;
  width: 100vw;
  // height: 100vh;
  min-height: 100vh;
  height: auto;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(240.01deg, #56ccf2 3.35%, #2f80ed 97.53%);
  overflow: hidden;
}

.navbar {
  position: absolute;
  width: 100vw;
  height: 110px;
  left: 0px;
  top: 0px;
  z-index: 1;
  // overflow: hidden;
}

.globeColors {
  background-color: #2f80ed;
}

.globe {
  margin-left: 45%;
  // margin-top: 0%;
  // background-color: transparent;
  position: absolute;
  z-index: 2;
}
