.fullscreen {
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

.break {
  height: 70px;
  width: 100%;
  grid-column: span 12;
}

.globeColors {
  background-color: #2f80ed;
}

.globe {
  margin-left: 45%;
  // margin-top: 0%;
  // background-color: transparent;
  position: absolute;
  z-index: 2;
}
