@import 'styles/globals.module.scss';

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 72px;
  margin: 0;
}

.subTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
}

@media screen and (max-width: $mobile-breakpoint-width) {
  .title {
    font-weight: 700;
    font-size: 48px;
  }
  
  .subTitle {
    font-size: 16px;
    line-height: 24px;
  }

}