@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@275;700&display=swap");

.container {
  min-height: 1332px;
  display: grid;
  grid-template-columns: repeat(12, 58px);
  grid-template-rows: repeat(20, 66.6px);
  column-gap: 30px;
}

.titleGrid {
  grid-row-start: 2;
}

.progressBarGrid {
  grid-row-start: 5;
}

.textGrid {
  grid-row-start: 9;
}

.buttonsGrid {
  grid-row-start: 11;
}
