.wrapper {
  min-height: 800px;
  margin: 0 auto auto auto;

  width: 1024px;
  max-width: 1140px;
}

.map {
  height: 555px;
  width: 1137px;
  background-color: #c4c4c4;
  margin-bottom: 34px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.info {
  margin-top: 592px;
  height: 722px;
  width: 1137px;
  background-color: #c4c4c4;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
