@import 'styles/globals.module.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-weight: 900;
  font-size: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.success {
  background-color: #06d6a0;
}

.active {
  background-color: #fad247;
}

.nonActive {
  background-color: #8B8B8B;
}

.elipse {
  height: 138px;
  width: 138px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 98;
}

.stepBar {
  width: 210%;
  height: 0px;
  position: absolute;
  top: calc(138px / 2);
  z-index: 97;
  left: 50%;
}

.activeStepBar,
.successStepBar {
  border-top: 5px solid #ffffff;
}

.nonActiveStepBar {
  border-top: 5px solid #454545;
}

@media screen and (max-width: 1000px) {
  .elipse {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  .stepBar {
    width: calc(100vw/3 + 60px);
    top: 50%;
  }

  .activeStepBar,
  .successStepBar {
    border-top: 3px solid #ffffff;
  }

  .nonActiveStepBar {
    border-top: 3px solid #454545;
  }
}

@media screen and (max-width: $mobile-breakpoint-width) {
  .elipse {
    height: 22px;
    width: 22px;
    border-radius: 50%;
  }

  .stepBar {
    width: calc(100vw/3 + 44px);
    top: 50%;
  }

  .activeStepBar,
  .successStepBar {
    border-top: 1px solid #ffffff;
  }

  .nonActiveStepBar {
    border-top: 1px solid #454545;
  }
}

@media screen and (max-width: 360px) {
  .stepBar {
    width: calc(100vw/3 + 22px);
    top: 50%;
  }
}