html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #171717;
}

input[type="text"]::placeholder {
  opacity: 0.8;
  color: white;
}

input[type=text] {
  background-image: url('/icons/search.svg');
  background-position: 18px 50%;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
